* {
     box-sizing: border-box;
}
 button, input, select, textarea {
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
}
 input {
     line-height: normal;
}
 textarea {
     overflow: auto;
}
 button, input, select, textarea {
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
}
 .btn-group {
     position: relative;
     display: inline-block;
     vertical-align: middle;
}
 .btn-group > .btn {
     position: relative;
     float: left;
}
 .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}
 .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
     border-radius: 0;
}
 .btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
     margin-left: -1px;
}
 .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child), .btn-group .input-group .form-control:last-child, .btn-group .input-group-addon:last-child, .btn-group .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .btn-group .input-group-btn:first-child > .btn:not(:first-child), .btn-group .input-group-btn:last-child > .btn, .btn-group .input-group-btn:last-child > .btn-group > .btn, .btn-group .input-group-btn:last-child > .dropdown-toggle {
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}
 .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover {
     z-index: 2;
}
 .btn {
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     touch-action: manipulation;
     cursor: pointer;
     user-select: none;
     background-image: none;
     border-radius: 4px;
}
 .btn.btn-lg {
     padding: 10px 16px;
     font-size: 18px;
     line-height: 1.3333333;
     border-radius: 6px;
}
 .btn.btn-sm {
     padding: 5px 10px;
     font-size: 12px;
     line-height: 1.5;
     border-radius: 3px;
}
 .btn.btn-xs {
     padding: 1px 5px;
     font-size: 12px;
     line-height: 1.5;
     border-radius: 3px;
}
 .btn.active, .btn.btn-active, .btn:active {
     background-image: none;
}
 .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}
 .input-group .form-control, .input-group-addon, .input-group-btn {
     display: table-cell;
}
 .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
     height: 46px;
     padding: 10px 16px;
     font-size: 18px;
     line-height: 1.3333333;
}
 .input-group {
     position: relative;
     display: table;
     border-collapse: separate;
}
 .input-group .form-control {
     position: relative;
     z-index: 2;
     float: left;
     width: 100%;
     margin-bottom: 0;
}
 .form-control, output {
     font-size: 14px;
     line-height: 1.42857143;
     display: block;
}
 textarea.form-control {
     height: auto;
}
 .form-control {
     height: 34px;
     display: block;
     width: 100%;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.42857143;
     border-radius: 4px;
}
 .form-control:focus {
     outline: 0;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
 .form-group {
     margin-left: 0px;
     margin-bottom: 15px;
}
 .btn, .form-control {
     background-image: none;
}
 .pull-right {
     float: right;
}
 .pull-left {
     float: left;
}
 .formbuilder-required, .required-asterisk {
     color: #c10000;
}
 .formbuilder-checkbox-group input[type='checkbox'], .formbuilder-radio-group input[type='checkbox'], .formbuilder-checkbox-group input[type='radio'], .formbuilder-radio-group input[type='radio'] {
     margin: 0 4px 0 0;
}
 .formbuilder-checkbox-inline, .formbuilder-radio-inline {
     margin-right: 8px;
     display: inline-block;
     vertical-align: middle;
     padding-left: 0;
}
 .formbuilder-checkbox-inline label input[type='text'], .formbuilder-radio-inline label input[type='text'] {
     margin-top: 0;
}
 .formbuilder-checkbox-inline:first-child, .formbuilder-radio-inline:first-child {
     padding-left: 0;
}
 .formbuilder-autocomplete-list {
     background-color: #fff;
     display: none;
     list-style: none;
     padding: 0;
     border: 1px solid #ccc;
     border-width: 0 1px 1px;
     position: absolute;
     z-index: 20;
     max-height: 200px;
     overflow-y: auto;
}
 .formbuilder-autocomplete-list li {
     display: none;
     cursor: default;
     padding: 5px;
     margin: 0;
     transition: background-color 200ms ease-in-out;
}
 .formbuilder-autocomplete-list li:hover, .formbuilder-autocomplete-list li.active-option {
     background-color: rgba(0, 0, 0, 0.075);
}
 .cb-wrap {
     width: 26%;
     transition: transform 250ms;
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 .cb-wrap.pull-left .form-actions {
     float: left;
}
 .cb-wrap h4 {
     margin-top: 0;
     color: #666;
}
 @media (max-width: 481px) {
     .cb-wrap {
         width: 64px;
    }
     .cb-wrap h4 {
         display: none;
    }
}
 .frmb-control {
     margin: 0;
     padding: 0;
     border-radius: 5px;
}
 .frmb-control li {
     cursor: move;
     list-style: none;
     margin: 0 0 -1px 0;
     padding: 10px;
     text-align: left;
     background: #fff;
     user-select: none;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     box-shadow: inset 0 0 0 1px #c5c5c5;
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 .frmb-control li .control-icon {
     width: 16px;
     height: auto;
     margin-right: 10px;
     margin-left: 0.2em;
     display: inline-block;
}
 .frmb-control li .control-icon img, .frmb-control li .control-icon svg {
     max-width: 100%;
     height: auto;
}
 .frmb-control li:first-child {
     border-radius: 5px 5px 0 0;
     margin-top: 0;
}
 .frmb-control li:last-child {
     border-radius: 0 0 5px 5px;
}
 .frmb-control li::before {
     margin-right: 10px;
     font-size: 16px;
}
 .frmb-control li:hover {
     background-color: #f2f2f2;
}
 .frmb-control li.ui-sortable-helper {
     border-radius: 5px;
     transition: box-shadow 250ms;
     box-shadow: 2px 2px 6px 0 #666;
     border: 1px solid #fff;
}
 .frmb-control li.ui-state-highlight {
     width: 0;
     overflow: hidden;
     padding: 0;
     margin: 0;
     border: 0 none;
}
 .frmb-control li.moving {
     opacity: 0.6;
}
 .frmb-control li.formbuilder-separator {
     background-color: transparent;
     box-shadow: none;
     padding: 0;
     cursor: default;
}
 .frmb-control li.formbuilder-separator hr {
     margin: 10px 0;
}
 @media (max-width: 481px) {
     .frmb-control li::before {
         font-size: 30px;
    }
     .frmb-control li span {
         display: none;
    }
}
 .frmb-control.sort-enabled li.ui-state-highlight {
     box-shadow: none;
     height: 0;
     width: 100%;
     background: radial-gradient(ellipse at center, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
     border: 0 none;
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
     visibility: visible;
     overflow: hidden;
     margin: 1px 0 3px;
     animation: PLACEHOLDER 250ms forwards;
}
 .formbuilder-mobile .form-actions {
     width: 100%;
}
 .formbuilder-mobile .form-actions button {
     width: 100%;
     font-size: 0.85em !important;
     display: block !important;
     border-radius: 0 !important;
     margin-top: -1px;
     margin-left: 0 !important;
}
 .formbuilder-mobile .form-actions button:first-child {
     border-radius: 5px 5px 0 0 !important;
     margin-top: 0 !important;
     border-bottom: 0 none;
}
 .formbuilder-mobile .form-actions button:last-child {
     border-radius: 0 0 5px 5px !important;
}
 .form-actions {
     float: right;
     margin-top: 5px;
}
 .form-actions button {
     border: 0 none;
}
 .kc-toggle {
     padding-left: 0 !important;
}
 .kc-toggle span {
     position: relative;
     width: 48px;
     height: 24px;
     background: #e6e6e6;
     display: inline-block;
     border-radius: 4px;
     border: 1px solid #ccc;
     padding: 2px;
     overflow: hidden;
     float: left;
     margin-right: 5px;
     will-change: transform;
}
 .kc-toggle span::after, .kc-toggle span::before {
     position: absolute;
     display: inline-block;
     top: 0;
}
 .kc-toggle span::after {
     position: relative;
     content: '';
     width: 50%;
     height: 100%;
     left: 0;
     border-radius: 3px;
     background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
     border: 1px solid #999;
     transition: transform 100ms;
     transform: translateX(0);
}
 .kc-toggle span::before {
     border-radius: 4px;
     top: 2px;
     left: 2px;
     content: '';
     width: calc(100% - 4px);
     height: 18px;
     box-shadow: 0 0 1px 1px #b3b3b3 inset;
     background-color: transparent;
}
 .kc-toggle input {
     height: 0;
     overflow: hidden;
     width: 0;
     opacity: 0;
     pointer-events: none;
     margin: 0;
}
 .kc-toggle input:checked + span::after {
     transform: translateX(100%);
}
 .kc-toggle input:checked + span::before {
     background-color: #6fc665;
}
 .stage-wrap {
     position: relative;
     padding: 0;
     margin: 0;
     width: calc(74% - 5px);
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 @media (max-width: 481px) {
     .stage-wrap {
         width: calc(100% - 64px);
    }
}
 .stage-wrap.empty {
     border: 3px dashed #ccc;
     background-color: rgba(255, 255, 255, 0.25);
}
 .stage-wrap.empty::after {
     content: attr(data-content);
     position: absolute;
     text-align: center;
     top: 50%;
     left: 0;
     width: 100%;
     margin-top: -1em;
}
 .frmb {
     list-style-type: none;
     min-height: 200px;
     transition: background-color 500ms ease-in-out;
}
 .frmb .formbuilder-required {
     color: #c10000;
}
 .frmb.removing {
     overflow: hidden;
}
 .frmb > li:hover {
     border-color: #66afe9;
     outline: 0;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(102, 175, 233, 0.6);
}
 .frmb > li:hover .field-actions {
     opacity: 1;
}
 .frmb > li:hover li :hover {
     background: #fefefe;
}
 .frmb li {
     position: relative;
     padding: 6px;
     clear: both;
     margin-left: 0;
     margin-bottom: 3px;
     background-color: #fff;
     transition: background-color 250ms ease-in-out, margin-top 400ms;
}
 .frmb li.hidden-field {
     background-color: rgba(255, 255, 255, 0.6);
}
 .frmb li:first-child {
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}
 .frmb li:first-child .field-actions .btn:last-child {
     border-radius: 0 5px 0 0;
}
 .frmb li:last-child {
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
}
 .frmb li.no-fields label {
     font-weight: 400;
}
 @keyframes PLACEHOLDER {
     0% {
         height: 0;
    }
     100% {
         height: 15px;
    }
}
 .frmb li.frmb-placeholder, .frmb li.ui-state-highlight {
     height: 0;
     padding: 0;
     background: radial-gradient(ellipse at center, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
     border: 0 none;
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
     visibility: visible;
     overflow: hidden;
     margin-bottom: 3px;
     animation: PLACEHOLDER 250ms forwards;
}
 .frmb li.moving, .frmb li.ui-sortable-helper {
     transition: box-shadow 500ms ease-in-out;
     box-shadow: 2px 2px 6px 0 #666;
     border: 1px solid #fff;
     border-radius: 5px;
}
 .frmb li.disabled-field {
     z-index: 1;
     position: relative;
     overflow: visible;
}
 .frmb li.disabled-field:hover .frmb-tt {
     display: inline-block;
}
 .frmb li.disabled-field [type='checkbox'] {
     float: left;
     margin-right: 10px;
}
 .frmb li.disabled-field h2 {
     border-bottom: 0 none;
}
 .frmb li.disabled-field label {
     font-size: 12px;
     font-weight: 400;
     color: #666;
}
 .frmb li.disabled-field .prev-holder {
     cursor: default;
     line-height: 28px;
     padding-left: 5px;
}
 .frmb li .close-field {
     position: absolute;
     color: #666;
     left: 50%;
     bottom: 6px;
     background: #fff;
     border-top: 1px solid #c5c5c5;
     border-left: 1px solid #c5c5c5;
     border-right: 1px solid #c5c5c5;
     transform: translateX(-50%);
     padding: 0 5px;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;
     cursor: pointer;
     transition: background-color 250ms ease-in-out;
}
 .frmb li .close-field:hover {
     text-decoration: none;
}
 .frmb li.button-field h1, .frmb li.header-field h1, .frmb li.paragraph-field h1, .frmb li.button-field h2, .frmb li.header-field h2, .frmb li.paragraph-field h2, .frmb li.button-field h3, .frmb li.header-field h3, .frmb li.paragraph-field h3, .frmb li.button-field p, .frmb li.header-field p, .frmb li.paragraph-field p, .frmb li.button-field canvas, .frmb li.header-field canvas, .frmb li.paragraph-field canvas, .frmb li.button-field output, .frmb li.header-field output, .frmb li.paragraph-field output, .frmb li.button-field address, .frmb li.header-field address, .frmb li.paragraph-field address, .frmb li.button-field blockquote, .frmb li.header-field blockquote, .frmb li.paragraph-field blockquote, .frmb li.button-field .prev-holder, .frmb li.header-field .prev-holder, .frmb li.paragraph-field .prev-holder {
     margin: 0;
}
 .frmb li.button-field .field-label, .frmb li.header-field .field-label, .frmb li.paragraph-field .field-label {
     display: none;
}
 .frmb li.button-field.editing .field-label, .frmb li.header-field.editing .field-label, .frmb li.paragraph-field.editing .field-label {
     display: block;
}
 .frmb li.paragraph-field .fld-label {
     min-height: 150px;
     overflow-y: auto;
}
 .frmb li.checkbox-field .field-label {
     display: none;
}
 .frmb li.deleting, .frmb li.delete:hover, .frmb li:hover li.delete:hover {
     background-color: #fdd;
}
 .frmb li.deleting .close-field, .frmb li.delete:hover .close-field, .frmb li:hover li.delete:hover .close-field {
     background-color: #fdd;
}
 .frmb li.deleting {
     z-index: 20;
     pointer-events: none;
}
 .frmb.disabled-field {
     padding: 0 5px;
}
 .frmb.disabled-field :hover {
     border-color: transparent;
}
 .frmb.disabled-field .form-element {
     float: none;
     margin-bottom: 10px;
     overflow: visible;
     padding: 5px 0;
     position: relative;
}
 .frmb .frm-holder {
     display: none;
}
 .frmb .tooltip {
     left: 20px;
}
 .frmb .prev-holder {
     display: block;
}
 .frmb .prev-holder .form-group {
     margin: 0;
}
 .frmb .prev-holder .ql-editor {
     min-height: 125px;
}
 .frmb .prev-holder .form-group > label:not([class='formbuilder-checkbox-label']) {
     display: none;
}
 .frmb .prev-holder select, .frmb .prev-holder input[type='text'], .frmb .prev-holder textarea, .frmb .prev-holder input[type='number'] {
     background-color: #fff;
     border: 1px solid #ccc;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
 .frmb .prev-holder input[type='color'] {
     width: 60px;
     padding: 2px;
     display: inline-block;
}
 .frmb .prev-holder input[type='date'] {
     width: auto;
}
 .frmb .prev-holder select[multiple] {
     height: auto;
}
 .frmb .prev-holder label {
     font-weight: normal;
}
 .frmb .prev-holder input[type='number'] {
     width: auto;
}
 .frmb .prev-holder input[type='color'] {
     width: 60px;
     padding: 2px;
     display: inline-block;
}
 .frmb .required-asterisk {
     display: none;
}
 .frmb .field-label, .frmb .legend {
     color: #666;
     margin-bottom: 5px;
     line-height: 27px;
     font-size: 16px;
     font-weight: normal;
}
 .frmb .disabled-field .field-label {
     display: block;
}
 .frmb .other-option:checked + label input {
     display: inline-block;
}
 .frmb .other-val {
     margin-left: 5px;
     display: none;
}
 .frmb .field-actions {
     position: absolute;
     top: 0;
     right: 0;
     opacity: 0;
}
 .frmb .field-actions a::before {
     margin: 0;
}
 .frmb .field-actions a:hover {
     text-decoration: none;
     color: #000;
}
 .frmb .field-actions .btn {
     display: inline-block;
     width: 32px;
     height: 32px;
     padding: 0 6px;
     border-radius: 0;
     border-color: #c5c5c5;
     background-color: #fff;
     color: #c5c5c5;
     line-height: 32px;
     font-size: 16px;
     border-width: 0 0 1px 1px;
}
 .frmb .field-actions .btn:first-child {
     border-bottom-left-radius: 5px;
}
 .frmb .field-actions .toggle-form:hover {
     background-color: #65aac6;
     color: #fff;
}
 .frmb .field-actions .copy-button:hover {
     background-color: #6fc665;
     color: #fff;
}
 .frmb .field-actions .del-button:hover {
     background-color: #c66865;
     color: #fff;
}
 .frmb .option-actions {
     text-align: right;
     margin-top: 10px;
     width: 100%;
     margin-left: 2%;
}
 .frmb .option-actions button, .frmb .option-actions a {
     background: #fff;
     padding: 5px 10px;
     border: 1px solid #c5c5c5;
     font-size: 14px;
     border-radius: 5px;
     cursor: default;
}
 .frmb .sortable-options-wrap {
     width: 81.33333333%;
     display: inline-block;
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 .frmb .sortable-options-wrap label {
     font-weight: normal;
}
 @media (max-width: 481px) {
     .frmb .sortable-options-wrap {
         display: block;
         width: 100%;
    }
}
 .frmb .sortable-options {
     display: inline-block;
     width: 100%;
     margin-left: 2%;
     background: #c5c5c5;
     margin-bottom: 0;
     border-radius: 5px;
     list-style: none;
     padding: 0;
}
 .frmb .sortable-options > li {
     display: flex;
     cursor: move;
     margin: 1px;
     padding-right: 28px;
}
 .frmb .sortable-options > li:nth-child(1) .remove {
     display: none;
}
 .radio-group-field .frmb .sortable-options > li:nth-child(2) .remove {
     display: none;
}
 .frmb .sortable-options > li .remove {
     position: absolute;
     opacity: 1;
     right: 8px;
     height: 18px;
     width: 18px;
     top: 14px;
     font-size: 12px;
     padding: 0;
     color: #c10000;
}
 .frmb .sortable-options > li .remove::before {
     margin: 0;
}
 .frmb .sortable-options > li .remove:hover {
     background-color: #c10000;
     text-decoration: none;
     color: #fff;
}
 .frmb .sortable-options .option-selected {
     margin: 0;
     width: 5%;
}
 .frmb .sortable-options input[type='text'] {
     width: calc(44.5% - 17px);
     margin: 0 3px;
     float: none;
}
 .frmb .form-field .form-group {
     width: 100%;
     clear: left;
     float: none;
}
 .frmb .col-md-6 .form-elements, .frmb .col-md-8 .form-elements {
     width: 100%;
}
 .frmb .field-options .add-area .add {
     clear: both;
}
 .frmb .style-wrap button.selected {
     border: 1px solid #000;
     margin-top: 0;
     margin-right: 1px;
     box-shadow: 0 0 0 1px #fff inset;
     padding: 1px 5px;
}
 .frmb .form-elements {
     padding: 10px 5px;
     background: #f7f7f7;
     border-radius: 3px;
     margin: 0;
     border: 1px solid #c5c5c5;
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 .frmb .form-elements .input-wrap {
     width: 81.33333333%;
     margin-left: 2%;
     float: left;
}
 .frmb .form-elements .input-wrap > input[type='checkbox'] {
     margin-top: 8px;
}
 .frmb .form-elements .btn-group {
     margin-left: 2%;
}
 .frmb .form-elements .add {
     clear: both;
}
 .frmb .form-elements [contenteditable], .frmb .form-elements select[multiple] {
     height: auto;
}
 .frmb .form-elements [contenteditable].form-control, .frmb .form-elements input[type='text'], .frmb .form-elements input[type='number'], .frmb .form-elements input[type='date'], .frmb .form-elements input[type='color'], .frmb .form-elements textarea, .frmb .form-elements select {
     transition: background 250ms ease-in-out;
     padding: 6px 12px;
     border: 1px solid #c5c5c5;
     background-color: #fff;
}
 @media (max-width: 481px) {
     .frmb .form-elements .input-wrap {
         width: 100%;
         margin-left: 0;
         float: none;
    }
}
 .frmb .form-elements input[type='number'] {
     width: auto;
}
 .frmb .form-elements .btn-group {
     margin-left: 2%;
}
 .col-md-6 .frmb .form-elements .false-label, .col-md-6 .frmb .form-elements label, .col-md-8 .frmb .form-elements .false-label, .col-md-8 .frmb .form-elements label {
     display: block;
}
 .frmb .form-elements .false-label:first-child, .frmb .form-elements label:first-child {
     width: 16.66666667%;
     padding-top: 7px;
     margin-bottom: 0;
     text-align: right;
     font-weight: 700;
     float: left;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     text-transform: capitalize;
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 @media (max-width: 481px) {
     .frmb .form-elements .false-label:first-child, .frmb .form-elements label:first-child {
         display: block;
         width: auto;
         float: none;
         text-align: left;
    }
     .frmb .form-elements .false-label:first-child.empty-label, .frmb .form-elements label:first-child.empty-label {
         display: none;
    }
}
 .frmb .form-elements .false-label.multiple, .frmb .form-elements label.multiple, .frmb .form-elements .false-label.required-label, .frmb .form-elements label.required-label, .frmb .form-elements .false-label.toggle-label, .frmb .form-elements label.toggle-label, .frmb .form-elements .false-label.roles-label, .frmb .form-elements label.roles-label, .frmb .form-elements .false-label.other-label, .frmb .form-elements label.other-label {
     text-align: left;
     float: none;
     margin-bottom: -3px;
     font-weight: 400;
     width: calc(81.3333% - 23px);
}
 .frmb .form-elements input.error {
     border: 1px solid #c10000;
}
 .frmb .form-elements input.fld-maxlength {
     width: 75px;
}
 .frmb .form-elements input.field-error {
     background: #fefefe;
     border: 1px solid #c5c5c5;
}
 .frmb .form-elements label em {
     display: block;
     font-weight: 400;
     font-size: 0.75em;
}
 .frmb .form-elements label.maxlength-label {
     line-height: 1em;
}
 .frmb .form-elements .available-roles {
     display: none;
     padding: 10px;
     margin: 10px 0;
     background: #e6e6e6;
     box-shadow: inset 0 0 2px 0 #b3b3b3;
    /* smartphones, portrait iPhone, small portrait Android */
    /* smartphones, Android phones, landscape iPhone */
}
 @media (max-width: 481px) {
     .frmb .form-elements .available-roles {
         margin-left: 0;
    }
}
 .frmb .form-elements .available-roles label {
     font-weight: 400;
     width: auto;
     float: none;
     display: inline;
}
 .frmb .form-elements .available-roles input {
     display: inline;
     top: auto;
}
 .autocomplete-field .sortable-options .option-selected {
     display: none;
}
 .formbuilder-mobile .field-actions {
     opacity: 1;
}
/* ------------ TOOLTIP ------------ */
 *[tooltip] {
     position: relative;
}
 *[tooltip]:hover:after {
     background: rgba(0, 0, 0, 0.9);
     border-radius: 5px 5px 5px 0;
     bottom: 23px;
     color: #fff;
     content: attr(tooltip);
     padding: 10px 5px;
     position: absolute;
     z-index: 98;
     left: 2px;
     width: 230px;
     text-shadow: none;
     font-size: 12px;
     line-height: 1.5em;
     cursor: default;
}
 *[tooltip]:hover:before {
     border: solid;
     border-color: #222 transparent;
     border-width: 6px 6px 0;
     bottom: 17px;
     content: '';
     left: 2px;
     position: absolute;
     z-index: 99;
     cursor: default;
}
 .tooltip-element {
     visibility: visible;
     color: #fff;
     background: #000;
     width: 16px;
     height: 16px;
     border-radius: 8px;
     display: inline-block;
     text-align: center;
     line-height: 16px;
     margin: 0 5px;
     font-size: 12px;
     cursor: default;
}
 